@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img src="~/img/logo.png" style="display: block; margin-left: auto; margin-right: auto" width="25%" />
    <br />
    <br />
    <h3 style="text-align:center"> Welcome to the Musical Emporium!</h3>
    <p style="text-align:center"> Please click 'Browse Music Store' to see our music library.</p>


</body>