
@{
    ViewData["Title"] = "Admin";
}

<h1>Administator Page</h1>
<!-- To Admin Tool (Create,Delete,Edit)-->

<a class="nav-link text-dark" asp-area="" asp-controller="Music_Inventory" asp-action="AdminTools">Edit Music Library</a>